<% layout('/layouts/boilerplate') %>
 <header>
    <span id="Title">Isaiah Tamayo</span>
        <nav>
            <ul class="navLinks">
                <li><a class="about" href="#aboutMeH2">About</a></li>
                <li><a class="Resume" href="#">Resume</a></li>
                <li><a class="backgroundME" href="#">Projects</a></li>
            </ul>
        </nav>
        <a href="#" class="contact"><button>Contact Me</button></a>
    </header>

    <div class="aboutMeDiv">
        <img id="aboutMeImg" src="images/aboutMe.png" alt="">
        <span id="AboutMeBody">
            <h2 id="aboutMeH2">About Me</h2>
            <p>Hi, I am Isaiah Tamayo, I am a Full Stack developer with a strong passion in Web Development. I first started writing code in Java back in 2018 and fell in love with it, from there I made a transition
                into Front-End development mastering HTML5, CSS, and JavaScript. I do not treat programming as a hobby or a job but I treat it more as a lifestyle as I never thought that I would be so passionate in 
                a field like this. 
            </p>
        </span>
    </div>

    
    <h2 id="skillH2">Toolkit</h2>

    <div id = "skillPage" class= "skills">
        <img src="images/React.png" alt="">
        <img id = "linux" src="images/linux.png" alt="">
        <img id="gitBash" src="images/gitBash.png" alt="">
        <img src="images/HTML.png" alt="">
        <img src="images/CSS.png" alt="">
        <img id= "javaScript"src="images/JSLogo.png" alt="">
        <img src="images/java.png" alt="">
        <img id="node"src="images/nodelogo.svg" alt="">
        <img id = "gulp" src="images/gulp.png" alt="">
        <img id="postgreSql" src="images/mongodb.png" alt="">
        <img src="images/MySQL.png" alt="">
        <img id="express" src="images/ExpressJS.png" alt="">
        <img  src="images/Babel_Logo.png" alt="">
    </div>



    
       <footer class="contactFooter">
        <h2>I am a footer</h2>
       </footer>
    

<link rel="stylesheet" href="./mainStyles.css">